{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h2 class="info">Contact Us</h2>
    </div>
    <div class="row justify-content-center">
        <div class="info">
            <p>
                <i class="fa-solid fa-question"></i>
                If you have any question do not hesitate to reach out!
            </p>
            <p>
                <i class="fa-solid fa-phone-volume"></i>
                You can call us on :
                <strong>0771234567</strong>
            </p>
            <p>
                <i class="fa-regular fa-paper-plane"></i>
                Write us an email:
                <strong>not.valid@email.com</strong>
            </p>
        </div>

    </div>
</div>
<div id="map"></div>
{% endblock content %}