{% extends 'base.html' %}
{% block content %}

<body id="general-bg">
    <h2>General Cleaning</h2>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 info">
                General cleaning from a cleaning service usually happens on a weekly basis. The goal is to keep up with
                basic cleaning tasks.
                Typical tasks that happen during this service include:
                Tidying up your spaces
                Cleaning floors
                Wiping surfaces in kitchens and bathrooms
                Taking out the trash
                General dusting
                The frequency of regular cleaning is usually at least once per week. A regular cleaning service
                typically doesn’t take as long as a deep clean, so it generally costs less.
                If you think just a general cleaning is enough for you please press here to book an appoitment.
                <br>

                <a class="btn btn-info" href="{% url 'home' %}">Book now!</a>
            </div>
        </div>
    </div>
</body>
{% endblock content %}