{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}

<h2>Home Page</h2>

<div class="container text-center col-md-auto">
    <h3>Book a Cleaning Now!</h3>
    <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
        <button type="submit" value="POST">Book Cleaning</button>
    </form>
</div>
<div class="container text-center">
    <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#pending_bookings"
        aria-expanded="true" aria-controls="pending_bookings">Pending Booking(s)</button>
    <div class="row collapse" id="pending_bookings" style="min-height: 20px;">
        {% for booking in booking_pending %}
        {% if booking.name == request.user %}
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 400px;">
                <div class="card-content">
                    {{ booking.name }}
                    is booked a
                    {{ booking.get_cleaning_type_display }}
                    on
                    {{ booking.cleaning_date }}
                    at
                    {{ booking.get_time_slot_display }}
                    waiting for approval.
                </div>
                <div class="card-action">
                    <a href="{% url 'edit_booking' booking.id %}" class="btn btn-warning">Edit</a>
                    <a href="" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#cancel_booking_modal{{ booking.id }}">Cancel</a>
                </div>
                <div class="modal fade" id="cancel_booking_modal{{ booking.id }}" tabindex="-1" aria-labelledby="cancel_booking_modal_label"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="cancel_booking_modal">Are you sure you want to delete this Booking?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="cancel_booking_modal">
                            {{ booking.get_cleaning_type_display }}
                            {{ booking.cleaning_date }}
                            {{ booking.get_time_slot_display }}
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <a href="/cancel_booking/{{ booking.id }}" type="button" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="container text-center">
    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#approved_bookings"
        aria-expanded="false" aria-controls="approved_bookings">Approved Booking(s)</button>
    <div class="row collapse " id="approved_bookings" style="min-height: 20px;">
        {% for booking in booking_approved %}
        {% if booking.name == request.user %}
        <div class="col-sm-2 col-md-4">
            <div class="card" style="width: 400px">
                <div class="card-content">
                    {{ booking.name }}
                    is booked a
                    {{ booking.get_cleaning_type_display }}
                    on
                    {{ booking.cleaning_date }}
                    at
                    {{ booking.get_time_slot_display }}
                </div>
                <div class="card-action">
                    <a href="" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#cancel_booking_modal{{ booking.id }}">Cancel Booking</a>
                </div>
                <div class="modal fade" id="cancel_booking_modal{{ booking.id }}" tabindex="-1" aria-labelledby="cancel_booking_modal_label"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="cancel_booking_modal">Are you sure you want to delete this Booking?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="cancel_booking_modal">
                            {{ booking.get_cleaning_type_display }}
                            {{ booking.cleaning_date }}
                            {{ booking.get_time_slot_display }}
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <a href="/cancel_booking/{{ booking.id }}" type="button" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock content %}